extends layout

block content
  #banner.page-header
    .row
      .col-lg-6
        h1= pageHeader.title
         small &nbsp;#{pageHeader.strapline}

    .col-xs-12.col-sm-8
      .error= message
      .row.list-group
      each media in medias
        .col-xs-12.list-group-item
         h4
           a(href="/media/one/#{media._id}")= media.title
            span.badge.pull-right.badge-default= media.mediaType
          p.artist= media.artist
          p
          p.publisher= media.publisher
          p
          p.year= media.year
          p
          p.dateAdded= media.dateAdded
          p
          p.notes= media.notes
          p
          p.b
          p

            img.className#thumb(src=media.thumbnail alt="Image Title")
            span.label.label-warning= media.genre
            &nbsp;
        .col-xs-12.list-group-item   
    .col-xs-12.col-sm-4
      p.lead= sidebar